/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #371C4B;
    color: white;
    padding: 16px 32px;
    width: 100%; /* Ensure full width */
    position: absolute; /* Fixed footer */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align with the left edge */
    height: 55px; /* Set height for footer */
  }
  
  .footer-left {
    font-size: 14px;
  }
  
  .footer-right {
    display: flex;
    gap: 16px;
    margin-right: 10%;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  